---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Contact - Moonriver Instruments">
  <main>
    <Header/>
    <section>
      <h1>Contact Us!</h1>
    </section>
  </main>
</Layout>