---
import { Image } from "astro:assets"
// import placeholder from '../assets/astro.svg'
const { product } = Astro.props
---
<a href={'store/' + product.data.url}>
  <Image src={product.data.image} alt={product.data.name} height="100"/>
  <h3>{product.data.name}</h3>
  <p>{product.data.cost}</p>
</a>

<style>
  a {
    display: grid;
    place-items: center;
    border: 1px solid #ccc;
  }
</style>